* { 
    margin: 0; 
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html { 
    scroll-behavior: smooth;
}
/* header and navbar */


nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: aliceblue;
    top: 0; 
    left: 0;
    margin-bottom: 1vh;
    z-index: 999;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;

}

@media (max-width: 800px) {
    nav {
    height: 30vh;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    } 
}


ul{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 5px;
    justify-content: space-between; 
    margin-right: 3vw;
}

li{
    list-style-type: none;
    padding-right: 10px;
}

li:hover { 
    transform: scale(1.1);

}

a {
    font-size: 1.2em;
    color: rgb(67, 67, 68);
    text-decoration: none;
}


@media (max-width: 800px) {
    ul { 
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

#logo { 
    line-height: 8vh;
    margin-left: 2vw;
}


/* main body */

main {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}


@media (max-width: 800px) {
    main { 
        margin: 2vh 2vw 10vh 2vw;
        width: 95vw; 
    }
}

#welcome {
    background-color: rgba(77, 77, 77, 0.63);
    background-image: url('images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
}

#welcome-title {
    color: silver;
    margin-bottom: 2vh;
    font-size: 2em;
}

#welcome-text  {
    color: silver;
    text-align: center;
    padding-left: 4vw;
    font-size: 1.2em;
}

/* PROJECT SECTION */

#project-section { 
    background: linear-gradient(160deg, lightblue, rgb(1, 106, 243));
    margin-top: 5px;
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: space-around;
    min-height: 50vh;
    z-index: 5;
    padding: 1em;
}

@media (max-width: 800px) { 
    #project-section { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-disc { 
        display: none;
    }
}

/* PROJECT CARDS */

.project { 
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    min-width: 30vw;
    border-radius: 10px;
    box-shadow: rgb(39, 39, 39) 4px 4px 4px;
    max-width: 30vw;
    text-align: center;
    justify-content: center;
    transition: transform 0.5s;
    transition-timing-function: ease-in;

}

.project:hover {
    transform: scale(1.05);
}

@media (max-width: 800px) { 
    .project { 
        min-height: 10vh;
        min-width: 40vw;
        max-width: 70vw;
    }
}

.project > a {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 5px;
    margin-bottom: 15px;

}   
@media (min-width: 800px) { 
    .project > a { 
        margin: 10px 0 10px 0;
    }
}

/* GRID FORMAT */

#pro1{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#pro2{ 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#pro3{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#pro4{ 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#decoration { 
    background: linear-gradient(150deg, rgb(84, 158, 255) ,rgb(16, 103, 218));
    min-height: 30vh;
    transform: skewY(-7deg);
    margin-top: -14vh;
}

@media (max-width: 800px) {
    #decoration { 
        display: none;
    }
}



/* ABOUT SECTION */

#about-me{
    min-height: 50vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    margin: 10% 1%;
    padding: 0px;
}

@media (max-width: 800px) {
    #about-me { 
        flex-direction: column;
    }
}
#about-text{
    color:rgb(73, 73, 73);
    max-width: 45vw;
    margin: 15px;

}

@media (max-width: 800px) {
    #about-text { 
        max-width: 90vw;
        }
}

#about-text > h3 { 
    font-size: 1.5em;
    margin-bottom: 1em;
}

#about-para { 
    font-size: 1.2em;
    line-height: 1.4em;
}

#about-img { 
    max-width: 35vw;
    margin-left: 45px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: rgb(39, 39, 39) 6px 6px 6px;
}

@media (max-width: 800px) {
    #about-img { 
        display: none;
    }
}

/* CONTACT SECTION */

#contact { 
    background-color: rgb(1, 106, 243);
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    width: 100%;
    justify-content: space-between;
    text-align: center;


}
@media (max-width: 800px) {
    #contact {
        margin-top: 2vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

#contact-info{
    color:rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 2.1rem;

}

#social-links { 
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
    margin: 20px;
}


@media (max-width: 800px) { 
    #social-links {
        justify-content: center;
    }
}


.fa-facebook {
    background: #5885c9;
    color: white;
    padding: 15px;
    margin-right: 10px;
    font-size: 1em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook:hover  {
    transform: scale(1.07);
}

.fa-linkedin {
    background: #563ec0;
    color: white;
    padding: 15px;
    margin-right:10px;
    font-size: 1em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa-linkedin:hover  {
    transform: scale(1.07);
}

.fa-instagram {
    background: #942ec4;
    color: white;
    padding: 15px;
    font-size: 2em;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa-instagram:hover  {
    transform: scale(1.07);
}

